# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\prg\std_kotlin_postgre_native\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
